<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Kawhoot - Create a Quiz</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="../static/assets/logo.png" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="#">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">Create a New Quiz</h1>
                <form action="/new_quiz/title" class="body-div__main-content-div__create-form" method="post">
                    <div id="body-div__main-content-div__create-form__title-description">
                        <div class="body-div__main-content-div__form-label-input-div">
                            <label for="title">Title</label>
                            <input type="text" name="title">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div">
                            <label for="description">Description</label>
                            <textarea name="description" cols="30" rows="10"></textarea>
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <a href="/my_quizzes"><button class="util--btn" type="button">Cancel</button></a>
                            <button class="util--btn" id="next0" type="button">Next</button>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question1">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #1</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back1" type="button">Go Back</button>
                                <button class="util--btn" id="next1" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question2">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #2</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back2" type="button">Go Back</button>
                                <button class="util--btn" id="next2" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question3">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #3</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back3" type="button">Go Back</button>
                                <button class="util--btn" id="next3" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question4">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #4</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back4" type="button">Go Back</button>
                                <button class="util--btn" id="next4" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question5">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #5</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back5" type="button">Go Back</button>
                                <button class="util--btn" id="next5" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question6">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #6</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back6" type="button">Go Back</button>
                                <button class="util--btn" id="next6" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question7">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #7</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back7" type="button">Go Back</button>
                                <button class="util--btn" id="next7" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question8">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #8</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back8" type="button">Go Back</button>
                                <button class="util--btn" id="next8" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question9">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #9</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back9" type="button">Go Back</button>
                                <button class="util--btn" id="next9" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="body-div__main-content-div__form" id="question10">
                        <div class="body-div__main-content-div__form__question-div">
                            <label for="">Question #10</label>
                            <input type="text">
                            <p class="body-div__main-content-div__form-label-input-div__validation">* Validation message here</p>
                        </div>
                        <div class="body-div__main-content-div__form-label-input-div--options-div">
                            <label for="">Options</label>
                            <div class="body-div__main-content-div__form-label-input-div--options-div__choices-div">
                                <div>
                                    <label for="">A</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">B</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">C</label>
                                    <input type="text">
                                </div>
                                <div>
                                    
                                    <label for="">D</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">E</label>
                                    <input type="text">
                                </div>
                                <div>
                                    <label for="">Correct Answer</label>
                                    <select name="" id="">
                                        <option value="">A</option>
                                        <option value="">B</option>
                                        <option value="">C</option>
                                        <option value="">D</option>
                                        <option value="">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div">
                            <button class="util--btn">Cancel</button>
                            <div class="body-div__main-content-div__form__buttons-div--right">
                                <button class="util--btn" id="back10" type="button">Go Back</button>
                                <button class="util--btn" type="submit">Finish</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>