<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Kawhoot - Dashboard</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="#">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">Welcome, {{user.username}}!</h1>
                <!-- dashboard -->
                <div class="body-div__main-content-div__content">
                    <!-- dashboard - left column  -->
                    <div class="body-div__main-content-div__content__left-column">
                        <!-- dashboard - left column - my stats -->
                        <div class="body-div__main-content-div__content__left-column__my-stats-div">
                            <h3 class="body-div__main-content-div__content__left-column__my-stats-div__header">My Stats</h3>
                            <div class="body-div__main-content-div__content__left-column__my-stats-div__content">
                                <p># of quizzes created: <span>{{my_quizzes_count}}</span></p>
                                <hr class="left_hr">
                                <p># of quizzes taken: <span>{{my_attempts_count}}</span></p>
                                <hr class="left_hr">
                                <p># of attempts at my quizzes: <span>{{attempts_at_my_quizzes_count}}</span></p>
                                <hr class="left_hr">
                                <p>Unweighted average score of my quizzes: 
                                    {% if average_for_my_quizzes == None %}
                                    <span>0</span>
                                    {% else %}
                                    <span>{{average_for_my_quizzes}}</span>
                                    {% endif %}
                                </p>
                                <hr class="left_hr">
                                <p>Average score for my attempts: 
                                    {% if my_average_score == None %}
                                    <span>0</span>
                                    {% else %}
                                    <span>{{my_average_score}}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <!-- dashboard - left column - buttons -->
                        <div class="body-div__main-content-div__content__left-column__records-div">
                            <h3 class="body-div__main-content-div__content__left-column__records-div__header">Records</h3>
                            <div class="body-div__main-content-div__content__left-column__records-div__buttons-div">
                                <a href="/dashboard/attempts"><button class="body-div__main-content-div__content__left-column__records-div__button">Attempts at my quizzes</button></a>
                                <a href="/dashboard/myattempts"><button class="body-div__main-content-div__content__left-column__records-div__button">My Attempts</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- dashboard - right column  -->
                    <div class="body-div__main-content-div__content__right-column">
                        <h3 class="body-div__main-content-div__content__right-column__leaderboard-div__header">Leaderboard</h3>
                        <table class="body-div__main-content-div__content__right-column__leaderboard-div__category-div">
                            <thead>
                                <tr>
                                    <th colspan="3" class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__header">Score Hunters</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__description">(Total score from all quizzes taken)</th>
                                </tr>
                            </thead>
                            <tbody class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div">
                                <tr>
                                    <td>#1</td>
                                    {% if scorehunters[0] %}
                                    <td>{{scorehunters[0].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{scorehunters[0].total_score_earned}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    {% if scorehunters[1] %}
                                    <td>{{scorehunters[1].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{scorehunters[1].total_score_earned}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    {% if scorehunters[2] %}
                                    <td>{{scorehunters[2].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{scorehunters[2].total_score_earned}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    {% if scorehunters[3] %}
                                    <td>{{scorehunters[3].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{scorehunters[3].total_score_earned}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    {% if scorehunters[4] %}
                                    <td>{{scorehunters[4].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{scorehunters[4].total_score_earned}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        <hr class="right_hr">
                        <table class="body-div__main-content-div__content__right-column__leaderboard-div__category-div">
                            <thead>
                                <tr>
                                    <th colspan="3" class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__header">Steady Hunters</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__description">(Average score from all quizzes taken)</th>
                                </tr>
                            </thead>
                            <tbody class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div">
                                <tr>
                                    <td>#1</td>
                                    {% if steadyhunters[0] %}
                                    <td>{{steadyhunters[0].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{steadyhunters[0].average_score}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    {% if steadyhunters[1] %}
                                    <td>{{steadyhunters[1].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{steadyhunters[1].average_score}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    {% if steadyhunters[2] %}
                                    <td>{{steadyhunters[2].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{steadyhunters[2].average_score}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    {% if steadyhunters[3] %}
                                    <td>{{steadyhunters[3].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{steadyhunters[3].average_score}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    {% if steadyhunters[4] %}
                                    <td>{{steadyhunters[4].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{steadyhunters[4].average_score}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        <hr class="right_hr">
                        <table class="body-div__main-content-div__content__right-column__leaderboard-div__category-div">
                            <thead>
                                <tr>
                                    <th colspan="3" class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__header">Quiz Creators</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__description">(Number of quizzes created)</th>
                                </tr>
                            </thead>
                            <tbody class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div">
                                <tr>
                                    <td>#1</td>
                                    {% if quizcreators[0] %}
                                    <td>{{quizcreators[0].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{quizcreators[0].create_quiz_count}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    {% if quizcreators[1] %}
                                    <td>{{quizcreators[1].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{quizcreators[1].create_quiz_count}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    {% if quizcreators[2] %}
                                    <td>{{quizcreators[2].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{quizcreators[2].create_quiz_count}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    {% if quizcreators[3] %}
                                    <td>{{quizcreators[3].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{quizcreators[3].create_quiz_count}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    {% if quizcreators[4] %}
                                    <td>{{quizcreators[4].username}}</td>
                                    <td class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__list-div__tr__td--score">{{quizcreators[4].create_quiz_count}}</td>
                                    {% else %}
                                    <td colspan="2">No recordholder yet</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>