<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Kawhoot - Dashboard</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="#">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">Welcome, {{user.username}}!</h1>
                <!-- dashboard -->
                <div class="body-div__main-content-div__content">
                    <!-- dashboard - left column  -->
                    <div class="body-div__main-content-div__content__left-column">
                        <!-- dashboard - left column - my stats -->
                        <div class="body-div__main-content-div__content__left-column__my-stats-div">
                            <h3 class="body-div__main-content-div__content__left-column__my-stats-div__header">My Stats</h3>
                            <div class="body-div__main-content-div__content__left-column__my-stats-div__content">
                                <p># of quizzes created: <span>{{my_quizzes_count}}</span></p>
                                <p># of quizzes taken: <span>{{my_attempts_count}}</span></p>
                                <p># of attempts at my quizzes: <span>{{attempts_at_my_quizzes_count}}</span></p>
                                <p>Unweighted average score for my quizzes: <span>{{average_for_my_quizzes}}</span></p>
                                <p>Average score for my attempts: <span>8.9</span></p>
                            </div>
                        </div>
                        <!-- dashboard - left column - buttons -->
                        <div class="body-div__main-content-div__content__left-column__records-div">
                            <h3 class="body-div__main-content-div__content__left-column__records-div__header">Records</h3>
                            <div class="body-div__main-content-div__content__left-column__records-div__buttons-div">
                                <a href="/dashboard/attempts"><button class="body-div__main-content-div__content__left-column__records-div__button">Attempts at my quizzes</button></a>
                                <a href="/dashboard/myattempts"><button class="body-div__main-content-div__content__left-column__records-div__button">My Attempts</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- dashboard - right column  -->
                    <div class="body-div__main-content-div__content__right-column">
                        <h3 class="body-div__main-content-div__content__right-column__leaderboard-div__header">Leaderboard</h3>
                        <div class="body-div__main-content-div__content__right-column__leaderboard-div__category-div">
                            <h4 class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__header">Score Hunters</h4>
                            <p class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__description">(Total score earned from all quizzes taken)</p>
                            <div>
                                <p>#1 danheecho - 132</p>
                                <p>#2 scpxdc - 117</p>
                                <p>#3 danheecho1 - 103</p>
                                <p>#4 danheecho2 - 96</p>
                                <p>#5 jolaman - 84</p>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__content__right-column__leaderboard-div__category-div">
                            <h4 class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__header">Steady Hunters</h4>
                            <p class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__description">(Average score from all quizzes taken)</p>
                            <div>
                                <p>#1 danheecho - 9.7</p>
                                <p>#2 scpxdc - 8.1</p>
                                <p>#3 danheecho1 - 7.5</p>
                                <p>#4 danheecho2 - 7.3</p>
                                <p>#5 jolaman - 6.5</p>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__content__right-column__leaderboard-div__category-div">
                            <h4 class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__header">Quiz Creators</h4>
                            <p class="body-div__main-content-div__content__right-column__leaderboard-div__category-div__description">(Number of quizzes created)</p>
                            <div>
                                <p>#1 danheecho - 27</p>
                                <p>#2 scpxdc - 14</p>
                                <p>#3 danheecho1 - 10</p>
                                <p>#4 danheecho2 - 9</p>
                                <p>#5 jolaman - 4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>