<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://kawhoot.dev/static/assets/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kawhoot.dev/static/css/style.css">
    <title>Kawhoot - Dashboard</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="/about">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#" onclick="alert('You can take quizzes from the Search tab!')">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <div class="body-div__main-content-div__header-div">
                    <h1 class="util--page-header">Welcome, {{user.username}}!</h1>
                    <div class="body-div__main-content-div__header-div__links-div">
                        <a href="/dashboard/attempts">Attempts at My Quizzes</a>
                        <a href="/dashboard/myattempts">My Attempts</a>
                    </div>
                </div>
                <!-- dashboard -->
                <div class="body-div__main-content-div__content">
                    <!-- your stats row -->
                    <div class="body-div__main-content-div__content__your-stats-row-div">
                        <!-- your stats row - header -->
                        <h2 class="body-div__main-content-div__content__subheading">Your Stats</h2>
                        <!-- your stats row - content -->
                        <div class="body-div__main-content-div__content__your-stats-row-div__content-container">
                            <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div">
                                <img src="{{url_for('static', filename='/assets/detail.png')}}" class="hover-for-detail" onmouseover="showTotalScoreEarned()" onmouseout="hideTotalScoreEarned()">
                                <span class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__description" id="totalScoreEarned">Sum of all scores from your attempts at others’ quizzes</span>
                                <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div">
                                    <img src="{{url_for('static', filename='/assets/achievement1.png')}}" class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__stats-icon">
                                    <p class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div__score">
                                        {% if my_total_score == None %}
                                        0
                                        {% else %}
                                        {{my_total_score}}
                                        {% endif %}
                                    </p>
                                </div>
                                <h3>Total Score Earned</h3>
                            </div>
                            <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div">
                                <img src="{{url_for('static', filename='/assets/detail.png')}}" class="hover-for-detail" onmouseover="showAverageScoreEarned()" onmouseout="hideAverageScoreEarned()">
                                <span class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__description" id="averageScoreEarned">Average score of your attempts at others’ quizzes</span>
                                <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div">
                                    <img src="{{url_for('static', filename='/assets/achievement2.png')}}" class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__stats-icon">
                                    <p class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div__score">
                                        {% if my_average_score == None %}
                                        0
                                        {% else %}
                                        {{my_average_score}}
                                        {% endif %}
                                    </p>
                                </div>
                                <h3>Average Score Earned</h3>
                            </div>
                            <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div">
                                <img src="{{url_for('static', filename='/assets/detail.png')}}" class="hover-for-detail" onmouseover="showQuizzesTaken()" onmouseout="hideQuizzesTaken()">
                                <span class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__description" id="quizzesTaken">Number of quizzes you took (including deleted quizzes)</span>
                                <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div">
                                    <img src="{{url_for('static', filename='/assets/achievement3.png')}}" class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__stats-icon">
                                    <p class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div__score">{{my_attempts_count}}</p>
                                </div>
                                <h3>Quizzes Taken</h3>
                            </div>
                            <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div">
                                <img src="{{url_for('static', filename='/assets/detail.png')}}" class="hover-for-detail" onmouseover="showQuizzesCreated()" onmouseout="hideQuizzesCreated()">
                                <span class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__description" id="quizzesCreated">Number of quizzes you created (including deleted quizzes)</span>
                                <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div">
                                    <img src="{{url_for('static', filename='/assets/achievement4.png')}}" class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__stats-icon">
                                    <p class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div__score">{{my_quizzes_count}}</p>
                                </div>
                                <h3>Quizzes Created</h3>
                            </div>
                            <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div">
                                <img src="{{url_for('static', filename='/assets/detail.png')}}" class="hover-for-detail" onmouseover="showAttemptsAtMe()" onmouseout="hideAttemptsAtMe()">
                                <span class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__description" id="attemptsAtMe">Number of attempts made at your quizzes</span>
                                <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div">
                                    <img src="{{url_for('static', filename='/assets/achievement5.png')}}" class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__stats-icon">
                                    <p class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div__score">{{attempts_at_my_quizzes_count}}</p>
                                </div>
                                <h3>Attempts at My Quizzes</h3>
                            </div>
                            <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div">
                                <img src="{{url_for('static', filename='/assets/detail.png')}}" class="hover-for-detail" onmouseover="showAverageScoreGiven()" onmouseout="hideAverageScoreGiven()">
                                <span class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__description" id="averageScoreGiven">Unweighted average score of your quizzes</span>
                                <div class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div">
                                    <img src="{{url_for('static', filename='/assets/achievement6.png')}}" class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__stats-icon">
                                    <p class="body-div__main-content-div__content__your-stats-row-div__content-container__individual-section-div__top-div__score">
                                        {% if average_for_my_quizzes == None %}
                                        0
                                        {% else %}
                                        {{average_for_my_quizzes}}
                                        {% endif %}
                                    </p>
                                </div>
                                <h3>Average Score Given</h3>
                            </div>
                        </div>
                    </div>
                    <!-- leaderboards -->
                    <div class="body-div__main-content-div__content__leaderboard-row-div">
                        <!-- leaderboards - header -->
                        <h2 class="body-div__main-content-div__content__subheading">Leaderboards</h2>
                        <!-- leaderboards - content -->
                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container">
                            <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div">
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__header-div" id="score_hunters">Score Hunters</div>
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div">
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker score_hunters">
                                        {% if scorehunters[0] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>{{scorehunters[0].username}}</p>
                                        </div>
                                        <span>{{scorehunters[0].total_score_earned}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker score_hunters">
                                        {% if scorehunters[1] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>{{scorehunters[1].username}}</p>
                                        </div>
                                        <span>{{scorehunters[1].total_score_earned}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker score_hunters">
                                        {% if scorehunters[2] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>{{scorehunters[2].username}}</p>
                                        </div>
                                        <span>{{scorehunters[2].total_score_earned}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker score_hunters">
                                        {% if scorehunters[3] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{scorehunters[3].username}}</p>
                                        </div>
                                        <span>{{scorehunters[3].total_score_earned}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker score_hunters">
                                        {% if scorehunters[4] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{scorehunters[4].username}}</p>
                                        </div>
                                        <span>{{scorehunters[4].total_score_earned}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div">
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__header-div" id="steady_hunters">Steady Hunters</div>
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div">
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker steady_hunters">
                                        {% if steadyhunters[0] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>{{steadyhunters[0].username}}</p>
                                        </div>
                                        <span>{{steadyhunters[0].average_score}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker steady_hunters">
                                        {% if steadyhunters[1] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>{{steadyhunters[1].username}}</p>
                                        </div>
                                        <span>{{steadyhunters[1].average_score}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker steady_hunters">
                                        {% if steadyhunters[2] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>{{steadyhunters[2].username}}</p>
                                        </div>
                                        <span>{{steadyhunters[2].average_score}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker steady_hunters">
                                        {% if steadyhunters[3] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{steadyhunters[3].username}}</p>
                                        </div>
                                        <span>{{steadyhunters[3].average_score}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker steady_hunters">
                                        {% if steadyhunters[4] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{steadyhunters[4].username}}</p>
                                        </div>
                                        <span>{{steadyhunters[4].average_score}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div">
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__header-div" id="quiz_takers">Quiz Takers</div>
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div">
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_takers">
                                        {% if quiztakers[0] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>{{quiztakers[0].username}}</p>
                                        </div>
                                        <span>{{quiztakers[0].attempt_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_takers">
                                        {% if quiztakers[1] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>{{quiztakers[1].username}}</p>
                                        </div>
                                        <span>{{quiztakers[1].attempt_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_takers">
                                        {% if quiztakers[2] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>{{quiztakers[2].username}}</p>
                                        </div>
                                        <span>{{quiztakers[2].attempt_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_takers">
                                        {% if quiztakers[3] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{quiztakers[3].username}}</p>
                                        </div>
                                        <span>{{quiztakers[3].attempt_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_takers">
                                        {% if quiztakers[4] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{quiztakers[4].username}}</p>
                                        </div>
                                        <span>{{quiztakers[4].attempt_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div">
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__header-div" id="quiz_makers">Quiz Makers</div>
                                <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div">
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_makers">
                                        {% if quizcreators[0] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>{{quizcreators[0].username}}</p>
                                        </div>
                                        <span>{{quizcreators[0].create_quiz_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/1st.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_makers">
                                        {% if quizcreators[1] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>{{quizcreators[1].username}}</p>
                                        </div>
                                        <span>{{quizcreators[1].create_quiz_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/2nd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_makers">
                                        {% if quizcreators[2] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>{{quizcreators[2].username}}</p>
                                        </div>
                                        <span>{{quizcreators[2].create_quiz_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/3rd.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_makers">
                                        {% if quizcreators[3] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{quizcreators[3].username}}</p>
                                        </div>
                                        <span>{{quizcreators[3].create_quiz_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker quiz_makers">
                                        {% if quizcreators[4] %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>{{quizcreators[4].username}}</p>
                                        </div>
                                        <span>{{quizcreators[4].create_quiz_count}}</span>
                                        {% else %}
                                        <div class="body-div__main-content-div__content__leaderboard-row-div__content-container__individual-section-div__rankers-div__individual-ranker__left-side">
                                            <img src="{{url_for('static', filename='/assets/rest.png')}}" alt="" class="rank-badge">
                                            <p>No recordholder yet</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
    <script src="../static/dashboard.js"></script>
</body>
</html>