<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://kawhoot.dev/static/assets/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kawhoot.dev/static/css/style.css">
    <title>Kawhoot - Edit Profile</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="/about">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#" onclick="alert('You can take quizzes from the Search tab!')">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">Edit My Profile</h1>
                <div class="body-div__main-content-div__forms-div__account-update-form-div">
                    <form action="/edit_profile/username" method="post">
                        <div class="special-one">
                            <div class="body-div__main-content-div__forms-div__account-update-form-div__label-input-div">
                                <label for="">Username</label>
                                <input type="text" name="username" class="body-div__main-content-div__forms-div__account-update-form-div__input">
                            </div>
                            {% with messages = get_flashed_messages(category_filter=['username']) %}
                                {% if messages %}
                                    {% for message in messages %}
                            <p class="body-div__main-content-div__forms-div__validation">* {{message}}</p>
                                    {% endfor %}
                                {% else %}
                            <p class="body-div__main-content-div__forms-div__validation"></p>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <button class="util--btn body-div__main-content-div__form__button">Save</button>
                    </form>
                    <form action="/edit_profile/password" method="post">
                        <div class="body-div__main-content-div__forms-div__account-update-form-div__label-input-div">
                            <label for="">Current Password</label>
                            <input type="password" name='current_password' class="body-div__main-content-div__forms-div__account-update-form-div__input">
                        </div>
                        {% with messages = get_flashed_messages(category_filter=['current_password']) %}
                            {% if messages %}
                                {% for message in messages %}
                        <p class="body-div__main-content-div__forms-div__validation">* {{message}}</p>
                                {% endfor %}
                            {% else %}
                        <p class="body-div__main-content-div__forms-div__validation"></p>
                            {% endif %}
                        {% endwith %}
                        <div class="body-div__main-content-div__forms-div__account-update-form-div__label-input-div">
                            <label for="">New Password</label>
                            <input type="password" name="new_password" class="body-div__main-content-div__forms-div__account-update-form-div__input">
                        </div>
                        {% with messages = get_flashed_messages(category_filter=['new_password']) %}
                            {% if messages %}
                                {% for message in messages %}
                        <p class="body-div__main-content-div__forms-div__validation">* {{message}}</p>
                                {% endfor %}
                            {% else %}
                        <p class="body-div__main-content-div__forms-div__validation"></p>
                            {% endif %}
                        {% endwith %}
                        <div class="body-div__main-content-div__forms-div__account-update-form-div__label-input-div">
                            <label for="">Confirm New Password</label>
                            <input type="password" name="confirm" class="body-div__main-content-div__forms-div__account-update-form-div__input">
                        </div>
                        {% with messages = get_flashed_messages(category_filter=['confirm']) %}
                            {% if messages %}
                                {% for message in messages %}
                        <p class="body-div__main-content-div__forms-div__validation">* {{message}}</p>
                                {% endfor %}
                            {% else %}
                        <p class="body-div__main-content-div__forms-div__validation"></p>
                            {% endif %}
                        {% endwith %}
                        <button class="util--btn body-div__main-content-div__form__button">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>