<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
    <title>Kawhoot - Dashboard</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="/about">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <div class="body-div__main-content-div__header-div">
                    <h1 class="util--page-header">My Attempts</h1>
                    <a href="/dashboard">Back</a>
                </div>
                <!-- search bar -->
                <div class="body-div__main-content-div__search-bar-div">
                    <form action="/dashboard/myattempts/search_post" method="post" class="body-div__main-content-div__search-bar-div__form">
                        <select name="search_type" id="" class="body-div__main-content-div__search-bar-div__form__select">
                            <option value="title">Search by Title</option>
                            <option value="username">Search by Quiz Owner</option>
                        </select>
                        <input type="text" name='search_keyword' placeholder="Search Keyword" class="body-div__main-content-div__search-bar-div__form__input">
                    </form>
                    <button type="submit" class="body-div__main-content-div__search-bar-div__new-button util--btn">Search</button>
                </div>
                {% if attempts %}
                <!-- my quizzes table -->
                <div class="body-div__main-content-div__my-quizzes-div-wrap">
                    <table class="body-div__main-content-div__my-quizzes-table" rules="none">
                        <thead>
                            <tr>
                                <th class="body-div__main-content-div__my-quizzes-table-thead__tr__th">#</th>
                                <th class="body-div__main-content-div__my-quizzes-table-thead__tr__th">Title</th>
                                <th class="body-div__main-content-div__my-quizzes-table-thead__tr__th">Owner</th>
                                <th class="body-div__main-content-div__my-quizzes-table-thead__tr__th">Attempted on</th>
                                <th class="body-div__main-content-div__my-quizzes-table-thead__tr__th">Score</th>
                            </tr>
                        </thead>
                        <tbody class="body-div__main-content-div__my-quizzes-table__tbody">
                    {% for attempt in attempts %}
                            <tr class="body-div__main-content-div__my-quizzes-table_tbody__tr">
                                <td class="body-div__main-content-div__my-quizzes-table__tbody__tr__td">{{loop.revindex}}</td>
                                <td class="body-div__main-content-div__my-quizzes-table__tbody__tr__td">{{attempt.title}}</td>
                                <td class="body-div__main-content-div__my-quizzes-table__tbody__tr__td">{{attempt.username}}</td>
                                <td class="body-div__main-content-div__my-quizzes-table__tbody__tr__td">{{attempt.date}}</td>
                                <td class="body-div__main-content-div__my-quizzes-table__tbody__tr__td">{{attempt.score}} / 10.0</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <!-- my quizzes table -->
                <div class="body-div__main-content-div__no-quiz-yet">
                    <h3>You have not taken any quizzes yet!</h3>
                </div>
                {% endif %}
                <!-- pagination -->
                <ul class="body-div__main-content-div__pagination-ul">
                {% if prev >= 1 %}
                    <a href="/dashboard/myattempts/{{prev}}" class="body-div__main-content-div__pagination__a"><< Previous</a>
                    {% endif %}
                        {% for page in range(pages) %}
                    <li>
                        <a href="/dashboard/myattempts/{{loop.index}}" class="body-div__main-content-div__pagination__a">{{loop.index}}</a>
                    </li>
                        {% endfor %}
                    {% if next <= pages %}
                    <a href="/dashboard/myattempts/{{next}}" class="body-div__main-content-div__pagination__a">Next >></a>
                {% endif %}
                </ul>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>