<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://kawhoot.dev/static/assets/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kawhoot.dev/static/css/style.css">
    <title>Kawhoot - My Quizzes</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="/about">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#" onclick="alert('You can take quizzes from the Search tab!')">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">{{quiz[0].title}}</h1>
                <div class="body-div__main-content-div__quiz-detail-div">
                    <div class="body-div__main-content-div__quiz-detail-div__header-div">
                        <h2 class="body-div__main-content-div__quiz-detail-div__header-div__created_by">By {{quiz[0].username}}</h2>
                        <div>
                            <h3 class="body-div__main-content-div__quiz-detail-div__header-div__timestamps">Created on {{quiz[0].created_at}}</h3>
                            {% if quiz[0].created_at != quiz[0].updated_at %}
                            <h3 class="body-div__main-content-div__quiz-detail-div__header-div__timestamps">Last edited on {{quiz[0].updated_at}}</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="body-div__main-content-div__quiz-detail-div__info-div">
                        <div class="body-div__main-content-div__quiz-detail-div__info-div__left-side">
                            {% if quiz_owner_id == logged_in_user_id %}
                            <p class="body-div__main-content-div__quiz-detail-div__validation">* You cannot take your own quiz.</p>
                            {% endif %}
                            <p><span style="font-weight: var(--fw-medium)">Description: </span>{{quiz[0].description}}</p>
                            <p><span style="font-weight: var(--fw-medium)">Number of takers: </span>{{count[0]['COUNT(*)']}}</p>
                            <p><span style="font-weight: var(--fw-medium)">Average score: </span>{{summary[0]['average_score']}} / 10.0</p>
                        </div>
                        <div class="body-div__main-content-div__quiz-detail-div__info-div__right-side">
                            <h3 class="body-div__main-content-div__quiz-detail-div__info-div__right-side__header">Leaderboard</h3>
                            <table class="body-div__main-content-div__quiz-detail-div__info-div__right-side__table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Score</th>
                                        <th>Scored on</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1st</td>
                                        {% if leaders[0] %}
                                        <td>{{leaders[0].username}}</td>
                                        <td>{{leaders[0].score}} / 10.0</td>
                                        <td>{{leaders[0].created_at}}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>2nd</td>
                                        {% if leaders[1] %}
                                        <td>{{leaders[1].username}}</td>
                                        <td>{{leaders[1].score}} / 10.0</td>
                                        <td>{{leaders[1].created_at}}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>3rd</td>
                                        {% if leaders[2] %}
                                        <td>{{leaders[2].username}}</td>
                                        <td>{{leaders[2].score}} / 10.0</td>
                                        <td>{{leaders[2].created_at}}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if quiz_owner_id != logged_in_user_id %}
                <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                    <button class="util--btn" onclick="history.back()">Go back</button>
                    <a href="/quiz/{{quiz_owner_id}}/{{quiz[0].id}}/go" class="util--btn" onclick="return confirm('Are you sure you want to take this quiz now? You can take each quiz only once.');">Start</a>
                </div>
                {% else %}
                <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                    <button class="util--btn" onclick="history.back()">Go back</button>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>