<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Kawhoot - Quiz by Danny</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="../static/assets/logo.png" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="#">About</a>
                <a class="header-div__buttons-div__log-out" href="#">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">#129 Are You Smarter than a 5th Grader?</h1>
                <div class="body-div__main-content-div__quiz-detail-div">
                    <div class="body-div__main-content-div__quiz-detail-div__header-div">
                        <h2>By scpxdc</h2>
                        <h3>08-30-22 17:45:21</h3>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="width: 400px;">
                            <p class="body-div__main-content-div__quiz-detail-div__validation">* You cannot take the same quiz more than once.</p>
                            <p>Number of question: 21</p>
                            <p>Average score: 79.5 / 100</p>
                            <p>This is a very simple quiz that anyone and everyone should be able to get the perfect score. The only reason why you would not get the perfect score is that you do not study what you should be studying.</p>
                        </div>
                        <div style="width: 400px;">
                            <h3 style="text-align: center;">Leaderboard</h3>
                            <p>1st place: </p>
                            <p>2nd place: </p>
                            <p>3rd place:</p>
                        </div>
                    </div>
                </div>
                <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                    <button class="util--btn">Go back</button>
                    <button class="util--btn">Start</button>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>