<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
    <title>Kawhoot - Quiz by Danny</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="{{url_for('static', filename='/assets/logo.png')}}" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="#">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">{{quiz['title']}}</h1>
                <form action="/quiz/{{user_id}}/{{quiz_id}}/done" method="post">
                    <!-- question 1 -->
                    <div class="body-div__main-content-div__form" id="question1">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (1/10)</h2>
                            <h3>{{questions[0]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer1" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[0]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input  name="answer1" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[0]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input  name="answer1" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[0]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input  name="answer1" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[0]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input  name="answer1" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[0]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="next1">Next</button>
                        </div>
                    </div>
                    <!-- question 2 -->
                    <div class="body-div__main-content-div__form" id="question2">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (2/10)</h2>
                            <h3>{{questions[1]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer2" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[1]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer2" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[1]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer2" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[1]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer2" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[1]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer2" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[1]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back2">Go back</button>
                            <button class="util--btn" type="button" id="next2">Next</button>
                        </div>
                    </div>
                    <!-- question 3 -->
                    <div class="body-div__main-content-div__form" id="question3">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (3/10)</h2>
                            <h3>{{questions[2]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer3" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[2]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer3" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[2]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer3" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[2]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer3" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[2]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer3" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[2]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back3">Go back</button>
                            <button class="util--btn" type="button" id="next3">Next</button>
                        </div>
                    </div>
                    <!-- question 4 -->
                    <div class="body-div__main-content-div__form" id="question4">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (4/10)</h2>
                            <h3>{{questions[3]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer4" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[3]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer4" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[3]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer4" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[3]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer4" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[3]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer4" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[3]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back4">Go back</button>
                            <button class="util--btn" type="button" id="next4">Next</button>
                        </div>
                    </div>
                    <!-- question 5 -->
                    <div class="body-div__main-content-div__form" id="question5">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (5/10)</h2>
                            <h3>{{questions[4]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer5" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[4]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer5" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[4]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer5" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[4]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer5" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[4]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer5" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[4]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back5">Go back</button>
                            <button class="util--btn" type="button" id="next5">Next</button>
                        </div>
                    </div>
                    <!-- question 6 -->
                    <div class="body-div__main-content-div__form" id="question6">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (6/10)</h2>
                            <h3>{{questions[5]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer6" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[5]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer6" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[5]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer6" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[5]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer6" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[5]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer6" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[5]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back6">Go back</button>
                            <button class="util--btn" type="button" id="next6">Next</button>
                        </div>
                    </div>
                    <!-- question 7 -->
                    <div class="body-div__main-content-div__form" id="question7">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (7/10)</h2>
                            <h3>{{questions[6]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer7" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[6]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer7" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[6]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer7" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[6]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer7" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[6]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer7" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[6]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back7">Go back</button>
                            <button class="util--btn" type="button" id="next7">Next</button>
                        </div>
                    </div>
                    <!-- question 8 -->
                    <div class="body-div__main-content-div__form" id="question8">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (8/10)</h2>
                            <h3>{{questions[7]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer8" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[7]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer8" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[7]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer8" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[7]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer8" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[7]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer8" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[7]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back8">Go back</button>
                            <button class="util--btn" type="button" id="next8">Next</button>
                        </div>
                    </div>
                    <!-- question 9 -->
                    <div class="body-div__main-content-div__form" id="question9">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (9/10)</h2>
                            <h3>{{questions[8]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer9" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[8]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer9" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[8]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer9" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[8]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer9" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[8]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer9" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[8]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back9">Go back</button>
                            <button class="util--btn" type="button" id="next9">Next</button>
                        </div>
                    </div>
                    <!-- question 10 -->
                    <div class="body-div__main-content-div__form" id="question10">
                        <div class="body-div__main-content-div__question-div__prompt-div">
                            <h2>Question (10/10)</h2>
                            <h3>{{questions[9]['prompt']}}</h3>
                        </div>
                        <div class="body-div__main-content-div__choices-div">
                            <div class="body-div__main-content-div__choices-div__list">
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer10" type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                        <p>{{questions[9]['a']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer10" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                        <p>{{questions[9]['b']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer10" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                        <p>{{questions[9]['c']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer10" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                        <p>{{questions[9]['d']}}</p>
                                    </div>
                                </label>
                                <label class="body-div__main-content-div__choices-div__list__selection">
                                    <input name="answer10" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                                    <div>
                                        <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                        <p>{{questions[9]['e']}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                            <button class="util--btn" type="button" id="back10">Go back</button>
                            <button class="util--btn" type="submit" id="finish">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
    <script src="{{url_for('static', filename='taking_quiz.js')}}"></script>
</body>
</html>