<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
    <title>Kawhoot - Quiz by Danny</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- header -->
        <div class="header-div">
            <!-- logo -->
            <img src="../static/assets/logo.png" class="header-div__logo" alt="">
            <!-- header buttons -->
            <div class="header-div__buttons-div">
                <a class="header-div__buttons-div__about" href="#">About</a>
                <a class="header-div__buttons-div__log-out" href="/logout">Log Out</a>
            </div>
        </div>
        <!-- body -->
        <div class="body-div">
            <!-- navigation div -->
            <div class="body-div__navigation-div">
                <!-- navigation links -->
                <a href="/dashboard">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Dashboard</h2>
                    </div>
                </a>
                <a href="/my_quizzes">
                    <div class="body-div__navigation-div__link-div">
                        <h2>My Quizzes</h2>
                    </div>
                </a>
                <a href="/search">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Search</h2>
                    </div>
                </a>
                <a href="/edit_profile">
                    <div class="body-div__navigation-div__link-div">
                        <h2>Edit Profile</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="body-div__navigation-div__link-div--selected">
                        <h2>Taking a Quiz</h2>
                    </div>
                </a>
            </div>
            <!-- main content view -->
            <div class="body-div__main-content-div">
                <h1 class="util--page-header">#129 Are You Smarter than a 5th Grader?</h1>
                <div class="body-div__main-content-div__question-div">
                    <h2>Question (1/20)</h2>
                    <h3>Who let the dogs out? </h3>
                </div>
                <div class="body-div__main-content-div__choices-div">
                    <div class="body-div__main-content-div__choices-div__list">
                        <label class="body-div__main-content-div__choices-div__list__selection">
                            <input name="answer" checked type="radio" value="a" class="body-div__main-content-div__choices-div__list__selection__input">
                            <div>
                                <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">A</h3>
                                <p>Because who let the dogs out didn't fly well</p>
                            </div>
                        </label>
                        <label class="body-div__main-content-div__choices-div__list__selection">
                            <input name="answer" type="radio" value="b" class="body-div__main-content-div__choices-div__list__selection__input">
                            <div>
                                <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">B</h3>
                                <p>The Dinosaur Guy</p>
                            </div>
                        </label>
                        <label class="body-div__main-content-div__choices-div__list__selection">
                            <input name="answer" type="radio" value="c" class="body-div__main-content-div__choices-div__list__selection__input">
                            <div>
                                <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">C</h3>
                                <p>The Dinosaur Guy</p>
                            </div>
                        </label>
                        <label class="body-div__main-content-div__choices-div__list__selection">
                            <input name="answer" type="radio" value="d" class="body-div__main-content-div__choices-div__list__selection__input">
                            <div>
                                <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">D</h3>
                                <p>The Dinosaur Guy</p>
                            </div>
                        </label>
                        <label class="body-div__main-content-div__choices-div__list__selection">
                            <input name="answer" type="radio" value="e" class="body-div__main-content-div__choices-div__list__selection__input">
                            <div>
                                <h3 class="body-div__main-content-div__form-label-input-div--options-div__choices-div__label">E</h3>
                                <p>The Dinosaur Guy</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="body-div__main-content-div__form__buttons-div--start-quiz">
                    <button class="util--btn">Go back</button>
                    <button class="util--btn">Next</button>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>