:root {
    --clr-theme-1: #5429FF;
    --clr-theme-2: #8162FF;
    --clr-theme-3: #F2F4F9; /* body-fill */
    --clr-general-1: #344054; /* primary font color */
    --clr-general-2: #667085; /* gray font within body */
    --clr-general-3: #808080; /* footer font */
    --clr-general-4: #A3AABA; /* borders */
    --clr-general-5: #ffffff; /* unselected nav bar items */
    --clr-general-6: #005BE2; /* clickable links and hovers */
    --clr-general-7: #B02020; /* validation errors */

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-1: 67px;
    --fs-2: 42px; /* page headers */
    --fs-3: 19px;
    --fs-4: 17px;
    --fs-5: 15px;
    --fs-6: 11px;

    --width-main: 1250px;
    --width-one-column: 400px;
    --width-footer: 100%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: var(--fs-5);
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
}

.util--btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    height: 45px;
    color: var(--clr-general-5);
    background-color: var(--clr-theme-1);
    font-weight: var(--fw-medium);
    border: none;
    cursor: pointer;
    padding: 0px 30px;  
}

.util--page-header {
    font-size: var(--fs-2);
    font-weight: var(--fw-bold);
}

/* header */

.header-div {
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 75px;
    width: var(--width-main);
    padding: 0px 50px;
    align-items: center;
}

.header_div__logo {
    margin: 20px 0px;
}

.header-div__buttons-div {
    display: flex;
    gap: 15px;
}

.header-div__buttons-div__about {
    color: black;
    font-weight: var(--fw-medium);
}

.header-div__buttons-div__about:hover {
    color: var(--clr-general-6);
}

.header-div__buttons-div__log-out {
    color: var(--clr-general-7);
    font-weight: var(--fw-medium);
}

/* body */

.body-div {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: var(--width-main);
    height: 1000px;
    background-color: var(--clr-theme-3);
    border-radius: 25px;
}

/* body__login & registration */

.body-div__login-div, 
.body-div__registration-div {
    display: flex;
    flex-direction: column;

    width: var(--width-one-column);
    margin-top: 150px;
}

.body-div__login-div__header, 
.body-div__registration-div__header {
    font-weight: var(--fw-bold);
    font-size: var(--fs-2);
}

.body-div__login-div__description, 
.body-div__registration-div__description {
    font-size: var(--fs-4);
    color: var(--clr-general-2);
    margin-top: 15px;
}

.body-div__login-div__form, 
.body-div__registration-div__form {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}

.body-div__login-div__form__username, 
.body-div__login-div__form__password, 
.body-div__registration-div__form__username, 
.body-div__registration-div__form__email,
.body-div__registration-div__form__password,
.body-div__registration-div__form__confirm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.body-div__login-div__form__input, 
.body-div__registration-div__form__input {
    border-radius: 10px;
    border: 1px solid var(--clr-general-4);
    height: 45px;
    padding-left: 15px;
}

.body-div__login-div__form__validation, 
.body-div__registration-div__form__validation {
    color: var(--clr-general-7);
    font-size: var(--fs-6);
    margin-left: 15px;
    margin-top: 5px;
    height: 14px;
}

.body-div__login-div__form__sign-up, 
.body-div__registration-div__form__sign-in {
    text-align: center;
}

.body-div__login-div__form__sign-up a, 
.body-div__registration-div__form__sign-in a {
    color: var(--clr-general-6);
    font-weight: var(--fw-medium);
}

/* body__navigation */

.body-div__navigation-div {
    width: 100px;
    height: 1000px;
    background-color: var(--clr-theme-1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.body-div__navigation-div__link-div {
    width: 80px;
    height: 176px;
    background-color: var(--clr-theme-2);
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-div__navigation-div__link-div--selected {
    width: 80px;
    height: 176px;
    background-color: var(--clr-theme-3);
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-div__navigation-div__link-div h2 {
    transform: rotate(-90deg);
    font-weight: var(--fw-medium);
    font-size: var(--fs-3);
    color: white;
    text-align: center;
}

.body-div__navigation-div__link-div--selected h2 {
    transform: rotate(-90deg);
    font-weight: var(--fw-medium);
    font-size: var(--fs-3);
    text-align: center;
}

/* body__main content view */

.body-div__main-content-div {
    display: flex;
    flex-direction: column;
    width: 1150px;
    padding: 100px;
    gap: 50px;
}

/* body__main content view -> dashboard */

.body-div__main-content-div__content {
    display: flex;
}

.body-div__main-content-div__content__left-column {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 50px;
    gap: 75px;
    /* border: 1px solid black; */
}

.body-div__main-content-div__content__left-column__my-stats-div {
    width: 400px;
    justify-content: space-around;
    align-self: center;
}

.body-div__main-content-div__content__left-column__my-stats-div__header, 
.body-div__main-content-div__content__left-column__records-div__header, 
.body-div__main-content-div__content__right-column__leaderboard-div__header {
    text-align: center;
    font-size: var(--fs-3);
    font-weight: var(--fw-bold);
    margin-bottom: 30px;
}

.body-div__main-content-div__content__left-column__my-stats-div__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.body-div__main-content-div__content__left-column__my-stats-div__content p {
    display: flex;
    justify-content: space-between;
}

.body-div__main-content-div__content__left-column__records-div__buttons-div {
    display: flex;
    justify-content: space-evenly;
}

.body-div__main-content-div__content__left-column__records-div__button {
    width: 200px;
    height: 200px;
    background-color: var(--clr-general-5);
    border: 1px solid var(--clr-general-3);
    border-radius: 5px;
    font-size: var(--fs-3);
    font-weight: var(--fw-medium);
    cursor: pointer;
    transition: 500ms;
}

.body-div__main-content-div__content__left-column__records-div__button:hover {
    transform: scale(1.04);
}

.body-div__main-content-div__content__right-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 50px;
    gap: 75px;
    /* border: 1px solid black; */
}

.body-div__main-content-div__content__right-column__leaderboard-div__category-div__header {
    font-weight: var(--fw-medium);
    text-align: center;
}

.body-div__main-content-div__content__right-column__leaderboard-div__category-div__description {
    text-align: center;
    font-size: var(--fs-5);
}

/* body__main content view -> my quizzes */

.body-div__main-content-div__search-bar-div {
    display: flex;
}

.body-div__main-content-div__search-bar-div {
    display: flex; 
    gap: 10px;
    height: 45px;
    border-radius: 5px;
}

.body-div__main-content-div__search-bar-div__form {
    display: flex;
    gap: 10px;
}

.body-div__main-content-div__search-bar-div__form__select {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

.body-div__main-content-div__search-bar-div__form__input {
    width: 550px;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

.body-div__main-content-div__search-bar-div__new-button {
    border-radius: 10px;
    width: 180px;
    height: 45px;
    border-radius: 10px;
}

.body-div__main-content-div__my-quizzes-div-wrap {
    max-height: 525px;
    overflow-y: hidden;
}

.body-div__main-content-div__no-quiz-yet {
    height: 525px;
    width: 950px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-general-5);
}

.body-div__main-content-div__my-quizzes-table {
    width: 950px;
}

.body-div__main-content-div__my-quizzes-table__tbody {
    background-color: var(--clr-general-5);
}

.body-div__main-content-div__my-quizzes-table_tbody__tr {
    height: 52.5px;
}

.body-div__main-content-div__my-quizzes-table_tbody__tr:hover {
    background-color: var(--clr-theme-3);
}

.body-div__main-content-div__my-quizzes-table__tbody__tr__td {
    padding-left: 25px;
}

.body-div__main-content-div__my-quizzes-table__tbody__tr__td--date {
    text-align: right;
}

.body-div__main-content-div__my-quizzes-table__tbody__tr__td--actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.body-div__main-content-div__my-quizzes-table__tbody__tr__td__form {
    display: flex;
}

.body-div__main-content-div__my-quizzes-table__tbody__tr__td__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.body-div__main-content-div__my-quizzes-table__tbody tr:not(:first-child) {
    border-top: 2px solid var(--clr-theme-3);
}

.body-div__main-content-div__pagination-ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.body-div__main-content-div__pagination__a {
    display: flex;
    align-self: center;
    color: black;
    text-decoration: none;
    padding: 5px;
}

/* body__main content view -> edit profile */

.body-div__main-content-div__forms-div__account-update-form-div {
    display: flex;
    gap: 50px;
}

.body-div__main-content-div__forms-div__account-update-form-div form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 327px;
}

.body-div__main-content-div__forms-div__account-update-form-div__label-input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-div__main-content-div__forms-div__account-update-form-div__input {
    border-radius: 10px;
    border: 1px solid var(--clr-general-4);
    height: 45px;
    width: 250px;
    padding-left: 15px;
}

.body-div__main-content-div__forms-div__validation {
    color: var(--clr-general-7);
    font-size: var(--fs-6);
    margin-left: 210px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.body-div__main-content-div__form__button {
    width: 120px;
    align-self: flex-end;
    margin: 30px 0px;
}

.special-one {
    display: flex;
    flex-direction: column;
}

/* body__main content view -> create quiz__title */

.body-div__main-content-div__create-form {
    display: flex;
    gap: 20px;
    width: 950px;
}

.body-div__main-content-div__form-label-input-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 950px;
    margin-bottom: 20px;
}

.body-div__main-content-div__form-label-input-div input {
    border-radius: 10px;
    border: 1px solid var(--clr-general-4);
    height: 45px;
    padding-left: 15px;
}

.body-div__main-content-div__form-label-input-div textarea {
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--clr-general-4);
    padding: 15px;
}

.body-div__main-content-div__form__buttons-div {
    display: flex;
    justify-content: space-between;
}

.body-div__main-content-div__form__buttons-div--right {
    display: flex;
    gap: 10px;
}

/* body__main content view -> create quiz__question and options */

.body-div__main-content-div__form {
    width: 950px;
    display: none;
}

.body-div__main-content-div__form__question-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.body-div__main-content-div__form-label-input-div--options-div__choices-div {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 93px;
}

.body-div__main-content-div__form-label-input-div--options-div__choices-div div {
    display: flex;
    flex-direction: column;
}

.body-div__main-content-div__form-label-input-div--options-div__choices-div label {
    text-align: center;
}

.body-div__main-content-div__form__question-div input, 
.body-div__main-content-div__form-label-input-div--options-div__choices-div input, 
.body-div__main-content-div__form-label-input-div--options-div__choices-div select {
    border-radius: 10px;
    border: 1px solid var(--clr-general-4);
    height: 45px;
    padding-left: 15px;
}

.body-div__main-content-div__form-label-input-div--options-div__choices-div input, 
.body-div__main-content-div__form-label-input-div--options-div__choices-div select {
    width: 300px;
}

/* body__main content view -> take quiz__quiz info */

.body-div__main-content-div__quiz-detail-div {
    border: 1px solid var(--clr-general-4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--clr-general-5);
    border-radius: 10px;
}

.body-div__main-content-div__quiz-detail-div__header-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.body-div__main-content-div__quiz-detail-div__header-div__timestamps {
    text-align: right;
}

.body-div__main-content-div__quiz-detail-div__validation {
    color: var(--clr-general-7);
    font-weight: var(--fw-medium);
}

.body-div__main-content-div__form__buttons-div--start-quiz {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* body__main content view -> taking a quiz */

.body-div__main-content-div__question-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body-div__main-content-div__question-div__prompt-div {
    display: flex;
    flex-direction: column;
}

.body-div__main-content-div__choices-div {
    display: flex;
    flex-direction: column;
}

.body-div__main-content-div__choices-div__list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.body-div__main-content-div__choices-div__list__selection {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.body-div__main-content-div__form-label-input-div--options-div__choices-div__label {
    line-height: 50px;
}


.body-div__main-content-div__choices-div__list__selection__input {
    opacity: 0;
    position: absolute;
}

.body-div__main-content-div__choices-div__list__selection__input + div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border: 1px solid var(--clr-general-4);
    background-color: var(--clr-general-5);
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.body-div__main-content-div__choices-div__list__selection__input:checked + div {
    background-color: var(--clr-general-4);
}

/* footer  */

.footer-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: var(--width-footer);
    color: var(--clr-general-3);
    border-top: 1px solid var(--clr-general-4);
    position: fixed;
    bottom: 0px;
}